@{
    ViewBag.Title = "About LXYZ Hotel";
}

<h2>@ViewBag.Title</h2>

<p>As the most recognized name in the industry and travelers all over the world. 
    And because of our innovative approach to products, amenities and service, 
    we continue to be synonymous with hotel across the globe. 
    LXYZ Hotel remains the stylish, forward thinking global leader of hospitality – 
    and we help make traveling easier with our smart design, 
    innovative restaurant concepts, authentic hospitality and commitment to the global community.
</p>
<h4>Hotel Information</h4>
<div>
    <strong>Check-in: </strong>4:00 pm<br />
    <strong>Check-out: </strong>11:00 am<br /><br />
    <strong>Smoking: </strong>Non-Smoking<br /><br />
    <strong>Parking: </strong><br />
    Self parking: $45.00 (Garage Height 6'2")<br />
    Valet: $53.00 (Valet Parking)   
</div>
<h4>Contact Us</h4>
<div>
    <strong>Address: </strong>
    251 Mercer Street, New York, N.Y. 10012-1185 <br />
    <strong>Phone: </strong> (212) 998-3037 <br />
    <strong>Support:</strong><a href="mailto:Support@LXYZ.com">Support@LXYZ.com</a><br />
    <strong>Marketing:</strong><a href="mailto:Marketing@LXYZ.com">Marketing@LXYZ.com</a>
</div>