@{
    ViewBag.Title = "About Us";
}

<h4>@ViewBag.Title</h4>

<p>As the most recognized name in the industry and travelers all over the world. And because of our innovative approach to products, amenities and service, Hilton continues to be synonymous with hotel across the globe. Hilton Hotels & Resorts remains the stylish, forward thinking global leader of hospitality – and we help make traveling easier with our smart design, innovative restaurant concepts, authentic hospitality and commitment to the global community.</p>
