@{
    ViewBag.Title = "Book";
}
<h2>@ViewBag.Title.</h2>

<div>You selected </div>
<div>@ViewBag.From as arrival date</div>
<div>@ViewBag.To as departure date</div>

<div>Here are all avaiable rooms for you</div>