@{
    ViewBag.Title = "Contact Us";
}

<h4>@ViewBag.Title</h4>

<address>
    251 Mercer Streety<br />
    New York, N.Y. 10012-1185<br />
    <abbr title="Phone">P:</abbr>
    (212) 998-3037
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@LXYZ.com">Support@LXYZ.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@LXYZ.com">Marketing@LXYZ.com</a>
</address>