@{
    ViewBag.Title = "Location";
}
<h2>@ViewBag.Title</h2>
<table>
    <tr>
        <td>
            <div id="map_canvas" style="width: 600px; height: 440px;">
            </div>
        </td>
        <td>
            <h3>Getting to LXYZ Hotel</h3>
            <h4>By Subway</h4>
            <div>
                Take the Lexington Avenue subway (No. 6 train) to Astor Place Station. Go west on Astor Place to Broadway. Walk south on Broadway to Waverly Place. Walk westward on Waverly Place until you reach Washington Square.<br/><br />
                Take the Broadway subway (N or W train) to Eighth Street Station. At Broadway walk south to Waverly Place. Walk westward on Waverly Place until you reach Washington Square.<br /><br />
                Take the Sixth Avenue subway (B, D, F, or M train) or 8th Avenue subway (A, C, or E train) to West Fourth Street-Washington Square Station. Walk east on West Fourth Street until you reach Washington Square.<br /><br />
                Take the Seventh Avenue subway to Christopher Street-Sheridan Square Station (1 or 2). Walk east on Christopher Street to West Fourth Street. Continue east to Washington Square.
            </div>
            <h4>By Bus</h4>
            <div>
                The most convenient bus lines to NYU are the M1, M2, M3, M5, M6, M8, M10, and the M21. Nearby subway lines include the A, B, C, D, E, F, or M to West Fourth St., the 1 to Christopher St., the N or R to Eighth St., or the 6 to Astor Pl.
            </div>
            
            
        </td>
    </tr>
</table>
