body {
}

.container{
    width:100%;
   
}
.left{
        margin-top: 5%;
    width: 20%;
        float: left;
}

.right{
    margin-top: 5%;
    margin-left:25%;
}

.sidebar{
    border: none;
}

.account{
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
.account>dt {
  float: left;
  width: 15%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}
.account>dd {
  float: left;
  width: 85%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}