@font-face {
    font-family: 'Sansation_Light';
    src: url('../fonts/Sansation_Light.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Sansation_Light.ttf') format('truetype');
}
div {
    font-family: Sansation_Light;
}

#topframe {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 200;
    line-height: 2;
    color: inherit;
    background-color: #eeeeee;
}

#cover_img {
    display:block;
    margin:auto;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
#check_menu {
    margin: 10px;  
}
#checkin, #checkout, .numberofroom, .numberofadult {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 100%;
}
h2 {
    font-family: Sansation_Light;
    font-weight: 500;
    line-height: 1.1;
}
h3{
    margin-top:10px;
}
h4 {
    margin-top:10px;
    font-family: Sansation_Light;
    font-weight: 500;
    line-height: 1.1;
}
.title{
    margin-top: 50px;
}
.searchtable{
    width: 100%;
    margin-top:20px;

}
.roomtype_p{
    font-size: 15px;
    font-weight: 200;
    line-height: 2;
    width: 20%;
}
.roomtype_d{
    font-size: 13px;
    font-weight: 200;
    line-height: 2;
    width: 40%;
}
.roomtype_a{
    font-size: 13px;
    font-weight: 200;
    line-height: 2;
    width: 20%;
}
.roomtype_m{
    font-size: 13px;
    font-weight: 200;
    line-height: 2;
    width: 5%;
}
.roomtype_s{
    text-align: center;
    width: 10%;
}
.btn {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:3px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    margin-left:20px;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.btn:active {
	position:relative;
	top:1px;
}
.room_img {
    display:block;
    margin:auto;
    width: 100%;
    border-radius: 8px;
}
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}

table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
.check-reservation {
    color: #777777;
    margin-top: 0px;
    padding: 0px;
}
.body-content {
    padding-top: 70px;
}
.resizedTextbox {
    width: 100px; 
    height: 20px;
}
.reservation-table {
    width: 80%;
}
#printbtn {
    display: block;
}
#unprintbtn {
    display: none;
}